web/data/nodered_flow.json
[
  {"id":"d5f5bf258d77d583","type":"tab","label":"EcoDrone Lima 4 Zonas","disabled":false,"info":""},
  {"id":"0b547b3f1f7057cd","type":"inject","z":"d5f5bf258d77d583","name":"Puruchuco – Backus + Corredor Rojo (Ate)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"zona\":\"Ate – Puruchuco\",\"descripcion_zona\":\"Parque Puruchuco con influencia de la planta Backus y del Corredor Rojo.\",\"fuentes\":\"Planta industrial Backus, camiones de reparto, buses del Corredor Rojo y autos particulares.\",\"recomendacion\":\"Monitorear en horas pico de transporte e industria; recomendar mascarilla a población sensible.\",\"pm25\":80,\"pm10\":120,\"co2\":1050,\"co\":1.4,\"estado\":\"PELIGRO\",\"nube\":true,\"img_zona\":\"https://scontent.flim23-1.fna.fbcdn.net/v/t39.30808-6/541484251_1233471928816947_574158307341567002_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_ohc=ZZWbR9ieT_MQ7kNvwHDQsqe&_nc_oc=AdlIZ3PlyL_t8AQlH_sSCC4OZPisFUKGx0zi2GzYE6y2txfJvc2xr7T44rP7iHryo0c&_nc_zt=23&_nc_ht=scontent.flim23-1.fna&_nc_gid=NLSa-6xyHbVrHH4wOASHrQ&oh=00_AfnXn6Pnzgt1tfQ6zcAcBG7ylsrSU3n6nDtt8TGcF7nPEA&oe=69375D1C\",\"img_1_titulo\":\"Planta Backus\",\"img_1\":\"https://gestion.pe/resizer/v2/O7ZWTMHQWBEGJGKUKUU56EPJFU.jpg?auth=85f6b5ac35ccae36fd83e079e02fa20bec5520b1bceb1299ccb3683ae5cfcffc&width=924&height=530&quality=75&smart=true\",\"img_2_titulo\":\"Corredor Rojo\",\"img_2\":\"https://portal.andina.pe/EDPfotografia3/Thumbnail/2021/05/24/000776577W.webp\"}","payloadType":"json","x":230,"y":80,"wires":[["e8c45e4643c4ddf1"]]},
  {"id":"22e4a8ebc3b7eb92","type":"inject","z":"d5f5bf258d77d583","name":"Callao – Puerto + Av. Faucett","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"zona\":\"Callao – Puerto y Av. Faucett\",\"descripcion_zona\":\"Zona portuaria con almacenes, contenedores y avenidas de alto flujo.\",\"fuentes\":\"Buques, camiones de carga, maquinaria portuaria y tráfico intenso.\",\"recomendacion\":\"Requiere monitoreo continuo por exposición laboral; implementar barreras verdes y control de emisiones.\",\"pm25\":140,\"pm10\":190,\"co2\":1350,\"co\":1.8,\"estado\":\"PELIGRO\",\"nube\":true,\"img_zona\":\"https://imgmedia.larepublica.pe/1000x590/larepublica/original/2025/05/01/681401e481866260cb0113fe.webp\",\"img_1_titulo\":\"Puerto del Callao\",\"img_1\":\"https://tierravivahoteles.com/wp-content/uploads/2014/04/PUERTO-DEL-CALLAO.png\",\"img_2_titulo\":\"Av. Faucett\",\"img_2\":\"https://diariocorreo.pe/resizer/v2/QK4E34F4VFFFJM4QGNEQDY3PFQ.jpg?auth=840734412c6fce0c380d18457bd4518342be9df1918e651ae08ce3df6661ac92&width=1200&height=800&quality=75&smart=true\"}","payloadType":"json","x":200,"y":180,"wires":[["e8c45e4643c4ddf1"]]},
  {"id":"1e5a0331bb2a074d","type":"inject","z":"d5f5bf258d77d583","name":"San Isidro – Parque + zona financiera","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"zona\":\"San Isidro – Parque y zona financiera\",\"descripcion_zona\":\"Parques urbanos rodeados de edificios de oficinas y avenidas.\",\"fuentes\":\"Autos particulares, buses, climatización de edificios y actividades comerciales.\",\"recomendacion\":\"Buen lugar para actividades al aire libre en horas de menor tráfico; promover movilidad sostenible.\",\"pm25\":55,\"pm10\":85,\"co2\":800,\"co\":0.9,\"estado\":\"MODERADO\",\"nube\":true,\"img_zona\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/San_Isidro%2C_Lima%2C_Peru_-_Torre_Begonias.jpg/1200px-San_Isidro%2C_Lima%2C_Peru_-_Torre_Begonias.jpg\",\"img_1_titulo\":\"Parques de San Isidro\",\"img_1\":\"https://www.fundamenta.pe/static/3e8bc394e2db542f7fc7f92ac738d126/62887/mejores-parques-san-isidro.jpg\",\"img_2_titulo\":\"Zona financiera\",\"img_2\":\"https://alba-pe-atv.cdn.mediatiquepress.com/wp-content/uploads/2024/01/WhatsApp-Image-2024-01-30-at-19.44.18.jpeg\"}","payloadType":"json","x":230,"y":280,"wires":[["e8c45e4643c4ddf1"]]},
  {"id":"30741d6b32def144","type":"inject","z":"d5f5bf258d77d583","name":"Villa El Salvador – zona industrial + vivienda","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"zona\":\"Villa El Salvador – zona industrial y residencial\",\"descripcion_zona\":\"Sector con parques cercanos a zonas de manufactura, talleres y viviendas.\",\"fuentes\":\"Pequeñas y medianas industrias, hornos, camiones y transporte público.\",\"recomendacion\":\"Requiere campañas de sensibilización y programas de reconversión tecnológica para reducir emisiones.\",\"pm25\":110,\"pm10\":150,\"co2\":1150,\"co\":1.6,\"estado\":\"PELIGRO\",\"nube\":true,\"img_zona\":\"https://elcomercio.pe/resizer/NNHwx4ClsqPvQDyPVXCURGryPc8=/980x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/SHMAAUKGPJFO3DY7O6AO6TQKOY.jpg\",\"img_1_titulo\":\"Zona industrial\",\"img_1\":\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-7oaUPSMzSV4o87K0S8w6z7DJ5I-J-KIfug&s\",\"img_2_titulo\":\"Zona residencial\",\"img_2\":\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0Z-vM4thhi77hU-Vu9wKC-nAwBN_i_2V-1Q&s\"}","payloadType":"json","x":250,"y":380,"wires":[["e8c45e4643c4ddf1"]]},
  {"id":"e8c45e4643c4ddf1","type":"function","z":"d5f5bf258d77d583","name":"Motor IA – Dron por zona","func":"// msg.payload trae: zona, descripcion_zona, fuentes, recomendacion,\n// pm25, pm10, co2, co, estado, nube, e imágenes.\n// Simulamos un dron único midiendo esa zona y calculamos el riesgo IA.\n\nvar base = msg.payload;\nvar d = {};\n\n// Datos dinámicos del dron\nd.nombre = \"Dron \" + base.zona;\nd.pm25 = base.pm25 + Math.round((Math.random() - 0.5) * 10);\nd.pm10 = base.pm10 + Math.round((Math.random() - 0.5) * 15);\nd.co2 = base.co2 + Math.round((Math.random() - 0.5) * 100);\nd.co = Number((base.co * (1 + (Math.random() - 0.5) * 0.2)).toFixed(2));\n\nd.altura = Math.floor(Math.random() * 80 + 30);\nd.temperatura = Math.floor(Math.random() * 10 + 18);\nd.humedad = Math.floor(Math.random() * 40 + 40);\nd.bateria = Math.floor(Math.random() * 40 + 50);\nd.velocidad = Math.floor(Math.random() * 30 + 15);\n\nmsg.dron = d;\n\n// Promedios (un dron = promedio de esa zona en esta versión)\nvar metrics = {};\nmetrics.pm25_prom = d.pm25;\nmetrics.pm10_prom = d.pm10;\nmetrics.co2_prom = d.co2;\nmetrics.co_prom = d.co;\n\nvar score = 0;\nscore += metrics.pm25_prom / 200;\nscore += metrics.pm10_prom / 250;\nscore += metrics.co2_prom / 2000;\nscore += metrics.co_prom / 3;\nscore = score / 4;\nmetrics.indice_riesgo = Number(score.toFixed(2));\n\nif (score < 0.25) {\n    metrics.clase_riesgo = \"BAJO\";\n} else if (score < 0.5) {\n    metrics.clase_riesgo = \"MEDIO\";\n} else if (score < 0.75) {\n    metrics.clase_riesgo = \"ALTO\";\n} else {\n    metrics.clase_riesgo = \"CRITICO\";\n}\n\nmsg.metrics = metrics;\n\n// Señal y ubicación aproximada en Lima Metropolitana\nmsg.payload.rssi = -1 * Math.floor(Math.random() * 40 + 60);\nvar baseLat = -12.0464;\nvar baseLon = -77.0428;\nmsg.payload.lat = baseLat + (Math.random() - 0.5) * 0.02;\nmsg.payload.lon = baseLon + (Math.random() - 0.5) * 0.02;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":230,"wires":[["3edd3535696018f6","b31ed45c09c254d4","1b546d0fae6d4225","9b25ad0bafa135c9","a7e1e8beea54c3df","a4a66f71781d4a23","7e2d57e5f690113b"]]},
  {"id":"3edd3535696018f6","type":"change","z":"d5f5bf258d77d583","name":"PM2.5 promedio","rules":[{"t":"set","p":"payload","pt":"msg","to":"metrics.pm25_prom","tot":"msg"}],"x":820,"y":60,"wires":[["81a95c19d133ce7a"]]},
  {"id":"b31ed45c09c254d4","type":"change","z":"d5f5bf258d77d583","name":"PM10 promedio","rules":[{"t":"set","p":"payload","pt":"msg","to":"metrics.pm10_prom","tot":"msg"}],"x":820,"y":110,"wires":[["80495fb1cf2cb3e6"]]},
  {"id":"1b546d0fae6d4225","type":"change","z":"d5f5bf258d77d583","name":"CO2 promedio","rules":[{"t":"set","p":"payload","pt":"msg","to":"metrics.co2_prom","tot":"msg"}],"x":820,"y":160,"wires":[["29195203f43b5ed4"]]},
  {"id":"9b25ad0bafa135c9","type":"change","z":"d5f5bf258d77d583","name":"CO promedio","rules":[{"t":"set","p":"payload","pt":"msg","to":"metrics.co_prom","tot":"msg"}],"x":820,"y":210,"wires":[["a298e225ddcba727"]]},
  {"id":"81a95c19d133ce7a","type":"ui_gauge","z":"d5f5bf258d77d583","name":"PM2.5 promedio (µg/m³)","group":"c5a62148582e021a","order":1,"width":0,"height":0,"gtype":"gage","title":"PM2.5 promedio (µg/m³)","label":"","format":"{{value}}","min":0,"max":200,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1140,"y":60,"wires":[]},
  {"id":"80495fb1cf2cb3e6","type":"ui_gauge","z":"d5f5bf258d77d583","name":"PM10 promedio (µg/m³)","group":"c5a62148582e021a","order":2,"width":0,"height":0,"gtype":"gage","title":"PM10 promedio (µg/m³)","label":"","format":"{{value}}","min":0,"max":250,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1140,"y":110,"wires":[]},
  {"id":"29195203f43b5ed4","type":"ui_gauge","z":"d5f5bf258d77d583","name":"CO2 promedio (ppm)","group":"c5a62148582e021a","order":3,"width":0,"height":0,"gtype":"gage","title":"CO₂ promedio (ppm)","label":"","format":"{{value}}","min":300,"max":2000,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1140,"y":160,"wires":[]},
  {"id":"a298e225ddcba727","type":"ui_gauge","z":"d5f5bf258d77d583","name":"CO promedio (ppm)","group":"c5a62148582e021a","order":4,"width":0,"height":0,"gtype":"gage","title":"CO promedio (ppm)","label":"","format":"{{value}}","min":0,"max":3,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1140,"y":210,"wires":[]},
  {"id":"a7e1e8beea54c3df","type":"ui_template","z":"d5f5bf258d77d583","group":"b6702e85dbb6f0f4","name":"Vista general de la zona","order":1,"width":"12","height":"10","format":"<div style=\"display:flex;flex-direction:column;align-items:center;padding:10px;\">\n  <div style=\"font-size:20px;margin-bottom:8px;\"><b>ECO-DRONES – Zona monitoreada</b></div>\n\n  @-- Cabecera: zona + dron --\n  <div style=\"display:flex;align-items:center;justify-content:space-between;width:100%;gap:10px;margin-bottom:8px;\">\n    <div style=\"display:flex;align-items:center;gap:10px;\">\n      <img ng-if=\"msg.payload.img_zona\" ng-src=\"{{msg.payload.img_zona}}\" style=\"height:70px;border-radius:8px;object-fit:cover;box-shadow:0 2px 6px rgba(0,0,0,0.25);\">\n      <div>\n        <div style=\"font-size:12px;color:#666;\">Zona monitoreada</div>\n        <div style=\"font-size:16px;font-weight:bold;\">{{msg.payload.zona}}</div>\n      </div>\n    </div>\n    <div style=\"display:flex;flex-direction:column;align-items:center;\">\n      <img src=\"https://cdn-icons-png.flaticon.com/512/5600/5600135.png\" style=\"height:52px;\">\n      <div style=\"font-size:11px;color:#666;margin-top:2px;\">Dron IA</div>\n    </div>\n  </div>\n\n  @-- Estado IA y contaminantes --\n  <div style=\"width:100%;border-radius:8px;padding:8px 10px;background:#f5f9ff;border:1px solid #d0e2ff;margin-bottom:8px;\">\n    <div style=\"font-size:13px;margin-bottom:4px;\">\n      Estado de la zona / Motor IA:\n      <span ng-style=\"{\n        'color': (msg.metrics.clase_riesgo === 'CRITICO' || msg.payload.estado === 'EMERGENCIA') ? 'red' :\n                 (msg.metrics.clase_riesgo === 'ALTO' || msg.payload.estado === 'PELIGRO') ? 'orange' :\n                 'green',\n        'font-weight':'bold'\n      }\">\n        {{msg.payload.estado}} – Riesgo {{msg.metrics.clase_riesgo}} (índice {{msg.metrics.indice_riesgo}})\n      </span>\n    </div>\n    <div style=\"font-size:12px;color:#555;\">\n      Promedios del dron de monitoreo sobre la zona:<br>\n      PM2.5: {{msg.metrics.pm25_prom}} µg/m³ |\n      PM10: {{msg.metrics.pm10_prom}} µg/m³ |\n      CO₂: {{msg.metrics.co2_prom}} ppm |\n      CO: {{msg.metrics.co_prom}} ppm\n    </div>\n    <div style=\"font-size:11px;color:#777;margin-top:4px;\">\n      Ubicación simulada (Lima Metropolitana): Lat {{msg.payload.lat}}, Lon {{msg.payload.lon}} – Señal {{msg.payload.rssi}} dBm\n    </div>\n  </div>\n\n  @-- Escenario visual dinámico --\n  <div ng-if=\"msg.payload.img_zona || msg.payload.img_1 || msg.payload.img_2\" style=\"width:100%;\">\n    <div style=\"font-size:13px;font-weight:bold;margin-bottom:4px;\">Escenario visual de la zona</div>\n    <div style=\"display:flex;flex-wrap:wrap;gap:8px;justify-content:flex-start;\">\n      <div ng-if=\"msg.payload.img_zona\" style=\"flex:1 1 120px;max-width:160px;\">\n        <img ng-src=\"{{msg.payload.img_zona}}\" style=\"width:100%;height:80px;border-radius:6px;object-fit:cover;box-shadow:0 1px 4px rgba(0,0,0,0.25);\">\n        <div style=\"font-size:11px;text-align:center;margin-top:2px;\">Vista general</div>\n      </div>\n      <div ng-if=\"msg.payload.img_1\" style=\"flex:1 1 120px;max-width:160px;\">\n        <img ng-src=\"{{msg.payload.img_1}}\" style=\"width:100%;height:80px;border-radius:6px;object-fit:cover;box-shadow:0 1px 4px rgba(0,0,0,0.25);\">\n        <div style=\"font-size:11px;text-align:center;margin-top:2px;\">{{msg.payload.img_1_titulo || 'Detalle 1'}}\n      </div>\n      </div>\n      <div ng-if=\"msg.payload.img_2\" style=\"flex:1 1 120px;max-width:160px;\">\n        <img ng-src=\"{{msg.payload.img_2}}\" style=\"width:100%;height:80px;border-radius:6px;object-fit:cover;box-shadow:0 1px 4px rgba(0,0,0,0.25);\">\n        <div style=\"font-size:11px;text-align:center;margin-top:2px;\">{{msg.payload.img_2_titulo || 'Detalle 2'}}\n      </div>\n      </div>\n    </div>\n  </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":260,"wires":[[]]},
  {"id":"a4a66f71781d4a23","type":"ui_template","z":"d5f5bf258d77d583","group":"382fa3be054bea48","name":"Dron de monitoreo","order":1,"width":"12","height":"8","format":"<div style=\"padding:5px;\">\n  <b>Datos del dron de la zona</b>\n  <table style=\"width:100%; border-collapse:collapse; margin-top:5px; font-size:12px;\">\n    <tr style=\"background:#f0f0f0;\">\n      <th style=\"border:1px solid #ccc; padding:4px;\">Parámetro</th>\n      <th style=\"border:1px solid #ccc; padding:4px;\">Valor</th>\n    </tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Nombre</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.nombre}}</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">PM2.5</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.pm25}} µg/m³</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">PM10</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.pm10}} µg/m³</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">CO₂</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.co2}} ppm</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">CO</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.co}} ppm</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Altura</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.altura}} m</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Velocidad</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.velocidad}} km/h</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Temperatura</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.temperatura}} °C</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Humedad</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.humedad}} %</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Batería</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.dron.bateria}} %</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Señal 4G/5G</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.payload.rssi}} dBm</td></tr>\n  </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":360,"wires":[[]]},
  {"id":"7e2d57e5f690113b","type":"ui_template","z":"d5f5bf258d77d583","group":"349d49cc547b2a68","name":"Detalle del escenario","order":1,"width":"12","height":"7","format":"<div style=\"padding:5px;\">\n  <b>Detalle del escenario monitoreado</b>\n  <table style=\"width:100%; border-collapse:collapse; margin-top:5px; font-size:12px;\">\n    <tr style=\"background:#f0f0f0;\">\n      <th style=\"border:1px solid #ccc; padding:4px;\">Campo</th>\n      <th style=\"border:1px solid #ccc; padding:4px;\">Descripción</th>\n    </tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Zona</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.payload.zona}}</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Descripción de la zona</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.payload.descripcion_zona}}</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Fuentes principales de contaminación</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.payload.fuentes}}</td></tr>\n    <tr><td style=\"border:1px solid #ccc; padding:4px;\">Recomendación para la población</td><td style=\"border:1px solid #ccc; padding:4px;\">{{msg.payload.recomendacion}}</td></tr>\n  </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":450,"wires":[[]]},
  {"id":"c5a62148582e021a","type":"ui_group","name":"Indicadores de calidad de aire (promedio de la zona)","tab":"144b3b29a9c7336a","order":1,"disp":true,"width":"12","collapse":false},
  {"id":"b6702e85dbb6f0f4","type":"ui_group","name":"Vista general de la zona","tab":"144b3b29a9c7336a","order":2,"disp":true,"width":"12","collapse":false},
  {"id":"382fa3be054bea48","type":"ui_group","name":"Dron de monitoreo","tab":"144b3b29a9c7336a","order":3,"disp":true,"width":"12","collapse":false},
  {"id":"349d49cc547b2a68","type":"ui_group","name":"Detalle del escenario","tab":"144b3b29a9c7336a","order":4,"disp":true,"width":"12","collapse":false},
  {"id":"144b3b29a9c7336a","type":"ui_tab","name":"EcoDrone Zonas Lima","icon":"dashboard","order":1},
  {"id":"b3112bd63a4853b0","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}
]
